.dashboard {
  min-height: 100vh;
  width: 100%;
  background: #1b1b1b;
}

.dashboard__content {
  height: calc(100vh - 56px);
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
}

.dashboard__panel {
  height: 100%;
  width: 100%;
  background: #2a2a2a;
  border: 6px solid #111;
  box-sizing: border-box;
}