.activity-item {
  margin: 0;
  padding: 6px 0;
  border-bottom: 1px solid #3a3a3a;
}

.activity-text {
  margin: 0;
  font-size: 12px;
  color: #d9d9d9;
}

.activity-text strong {
  color: #e11725;
}